.MainChat
  .TopBar
    .TopBar__left
      .GroupName
        test
      .member
        Member : masa
    .TopBar__right
      = link_to "#", class: "edit-btn" do
        Edit
  .ChatSpace
    .contents
      .contents__top
        .name
          masa
        .date
          2019/11/20(Wed) 17:43:01
      .contents__bottom
        おはよう！
    .contents
      .contents__top
        .name
          masa
        .date
          2019/11/20(Wed) 17:43:01
      .contents__bottom
        おはよう！
  .MessageForm
    %form.new_message
      .text-box
        %input{type: ".text", class: "text-box__text", placeholder: "type a message"}
        %label{class: "text-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "text-box__image__file"}
      %input{type: "submit", value: "Send", class: "submit-btn"}
        
    
