* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
  .SideBar{
    width: 300px;
    background-color:#253141;
    .user{
      height: 100px;
      background-color:#253141;
      display: flex;
      align-items: center;
      .contents{
        height: 20px;
        background-color: #253141;
        width: 260px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__left{
          color: white;
        }
        &__right{
          width: 60px;
          text-align: right;
          .UserIcon{
            text-decoration: none;
            color: white;
            .UserIcon--cog{
              padding-left: 5px;
            }
          }
        }
      }
    }
    .group{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
    }
  }
  .MainChat{
    background-color: #ffffff;
    width: calc(100vw - 300px);
    .top{
      height: 100px;
      background-color: #ffffff;
    }
    .ChatSpace{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      width: calc(100vw - 300px);
    }
    .MessageForm{
      height: 90px;
      background-color: #d2d2d2;
      width: calc(100vw - 300px);
    }
  }




}